@tailwind base;
@tailwind components;
@tailwind utilities;

/* Elements */
.table-line{
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 items-center place-items-stretch w-full p-4 border-b border-gray-200;
}
.btn-brand {
  @apply px-4 py-2 font-medium text-center text-sm text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}
.nav-item{
  @apply block;
}

/* Forms */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  @apply block w-full mt-1 px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}
button:not(.btn-none),
input[type="button"]:not(.btn-none),
input[type="reset"]:not(.btn-none),
input[type="submit"]:not(.btn-none) {
  @apply btn-brand;
}

button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  @apply opacity-75;
}


/* Structure */
.wrapper{
  min-height: 100vh;

  @apply bg-gray-100;
}
